h1{
color:red;
}
.validate {
    background: darkcyan;   
}
form {
    margin-left: 20px;
    text-align: center;
}
input {
    width: 44%;
    height: 30px;
    margin-bottom: 6px;
}
span{
    color:#fff;
    font-size: 20px;
}